<div action="" class="form-inline">
  <div class="form-group mb-2">
    <label class="mr-2">Filtro:</label>
    <input
      type="text"
      class="form-control mr-2"
      placeholder="buscar"
      [(ngModel)]="filtroLista"
    >
    <button type="button" class="btn btn-outline-success">Buscar</button>
  </div>
</div>
<h4>Filtro: {{ filtroLista }}</h4>
<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th>
        <button
          (click)="alternarImagem()"
          class="btn btn-outline-info"
        >
        {{mostrarImagem ? 'Hide' : 'Show'}} Img
      </button>
      </th>
      <th>#</th>
      <th>Tema</th>
      <th>Local</th>
      <th>Data</th>
      <th>Qtd Pessoas</th>
      <th>Lote</th>
      <th>Opções</th>
    </tr>
  </thead>

  <tbody *ngIf="eventos && eventos.length">
    <tr *ngFor="let item of eventosFiltrados">
      <td>
        <img *ngIf="mostrarImagem"
          src="http://localhost:5000/img/{{item.imageURL}}"
          [style.width.px] = "imgLargura"
          [style.margin.px] = "imgMargem"
        >
      </td>
      <td>{{ item.id }}</td>
      <td>{{ item.tema }}</td>
      <td>{{ item.local }}</td>
      <td>{{ item.dataEvento | date:'dd MMM yyyy' }}</td>
      <td>{{ item.qtdPessoas }}</td>
      <td>
        <div *ngIf="!item.lote.length">
          Lote não informado
        </div>
        <div *ngIf="item.lote.length">
          {{ item.lote[1].nome | uppercase }}
        </div>
      </td>
      <td>
        <div class="btn-group">
          <button class="btn btn-warning" tooltip="Editar" (click)="openModal(template)"><i class="fas fa-pen"></i></button>
          <button class="btn btn-danger" tooltip="Excluir"><i class="fas fa-trash"></i></button>
        </div>
      </td>
    </tr>
  </tbody>

  <tfoot *ngIf="!eventos">
    <tr>
      <td colspan="7" class="text-center">
        <h4>Nenhum evento encontrado!</h4>
      </td>
    </tr>
  </tfoot>
</table>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Modal</h4>
    <button class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    this is a modal
  </div>
</ng-template>
